<div class="modal" id="dashboard-details-modal">
  <div class="modal-header">
    <h3>Counter Widget</h3>
  </div>
  <div class="modal-body">
      <form id="counter" class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls">
              <input name="counter[name]" class="name" type="text" placeholder="Enter widget name">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Time</label>
            <div class="controls">
              <select name="counter[time]" class="time">
                <option>minute</option>
                <option>hour</option>
                <option>day</option>
                <option>week</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Update Interval</label>
            <div class="controls">
              <select name="counter[update_interval]" class="update-interval">
                <option value="10">10 sec</option>
                <option value="600">1 min</option>
                <option value="6000">10 min</option>
                <option value="3600">1 hour</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Data Source</label>
            <div class="controls">
              <select name="counter[source]" class="source">
                <option value="demo">Demo</option>
                <option value="graphite">Graphite</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Targets</label>
            <div class="controls">
              <input name="counter[targets]" class="targets" size="16" type="text" style="width:300px">
              <p class="help-block">Comma separated metric names. Including wildcard support (example: test.system1, test.graph.*)</p>
            </div>

          </div>
        </fieldset>
      </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary">Save</a>
  </div>
</div>
