<div class="counter">
  <div class="value">{{value}}</div>
  <div class="rate-container">
    <span class="arrow"></span><span class="rate secondary-value">{{secondaryValue}}</span>  <span class="percentage">%</span>
  </div>  
</div>

<div class="counter2">
  <div class="value">{{value2}}</div>
  <div class="rate-container">
    <span class="arrow"></span><span class="rate secondary-value">{{secondaryValue2}}</span> <span class="percentage">%</span>
  </div>  
</div>
