<div class="value">{{value}}</div>
<div class="secondary-value-container">
  <span class="arrow"></span><span class="secondary-value">{{secondaryValue}}</span>  <span class="percentage">%</span>
</div>  