<div class="single-row boolean">
  <div class="boolean-value value-size-medium" ng-class="{ green:data.value, red:!data.value }"></div>
  <div class="label-container-one-row">
    <span class="label" title="{{data.label}}">{{data.label}}</span>
  </div>
</div>
