<div class="modal">
  <div class="modal-header">
    <h3>Browse Available Targets</h3>
  </div>
  <div class="modal-body">
    <div class="controls" id="filtered-list-container">
      <div class='input-append'>"
        <input type="text" class="span11" id="filter" placeholder="Filter list by">
        <button class='btn search' type='button'><i class='icon-search icon-white'></i></button>
      </div>
      <ul id="list" class="list selectable-list" style="display:none;"></ul>
      <span class="controls ajax-spinner">
        <img width="12" height="12" src="<%= image_path('spinner.gif') %>"></img>
        <span> Loading metrics...</span>
      </span>
    </div>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn cancel">Cancel</a>
    <a href="#" class="btn btn-primary">Add</a>
  </div>
</div>