<div class="modal">
  <div class="modal-header">
    <h3>Browse Available Targets</h3>
  </div>
  <div class="modal-body">
      <div class="controls" id="filtered-list-container">
        <input type="text" class="search span12" id="filter" placeholder="Filter list by">
        <ul id="list" class="list selectable-list">
        </ul>
      </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn cancel">Cancel</a>
    <a href="#" class="btn btn-primary">Add</a>
  </div>
</div>