<div class="modal">
  <div class="modal-header">
    <h3>Function Editor</h3>
  </div>
  <div class="modal-body">
    <div class="span12">
      <form class="form-horizontal">

        <div class="control-group">
          <label class="control-label" for="value_label">Value Label</label>
          <div class="controls">
            <div class="input-append">
              <input id="value_path" type="text" size="16">
              <button href="#" class="btn test"><i class="icon-play icon-white"></i> Test</button>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="responses-preview">Response Body</label>
          <div class="controls">
            <textarea class="span12" rows="5" id="response-preview" placeholder="Press Test Button"></textarea>
          </div>
        </div>

        <div class="control-group result">
          <label class="control-label" for="result">Result</label>
          <div class="controls">
            <input id="result" type="text">
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn cancel">Cancel</a>
    <a href="#" class="btn btn-primary">Save</a>
  </div>
</div>