<div class='error'>
  <p>Error loading datapoints:</p><p><strong>{{message}}</strong></p>
  {{#if errorResponse}}
    <p><a class='error-more-details' href='#'>More Details...</a></p>
  {{/if}}
</div>


