<p>
  <h3>URL:&#160;&#160;<strong>{{url}}</strong></h3>
</p>

<p>
  <h3>Response Status:&#160;&#160;<strong>{{status}}</strong></h3>
</p>

<p>
  <h4>Headers:</h4></br>
  <table class="table">
    <tr><th>NAME</th><th>VALUE</th></tr>
    {{#each headers}}
      <tr>
        <td>{{name}}</td><td>{{value}}</td>
      </tr>
    {{/each}}
  </table>
</p>
