{{#with widget}}
<div class="portlet-header ui-widget-header ui-corner-all">
  <span>{{name}} <img class="ajax-spinner" width="12" height="12" src="<%= image_path('spinner.gif') %>" style="display:none;"></img></span>
  <span class='widget-delete ui-icon ui-icon-minusthick' data-widget-id="{{id}}"><i class='icon-remove icon-white'></i></span>
  <span class='widget-edit ui-icon ui-icon-minusthick' data-widget-id="{{id}}"><i class='icon-cog icon-white'></i></span>
</div>
<div class="portlet-content"></div>
{{/with}}