{{#with dashboard}}
  <h1 data-inline-edit="true" id="dashboard-name">{{name}}</h1>
  <form class="form-inline" data-inline-edit="true" style="display: none">
    <input value="{{name}}" type="text" class="input-xlarge focused" autocomplete="off">
  </form>
{{/with}}
