{{#with dashboard}}
  <h1 id="dashboard-name">{{name}}</h1>
  <form id="dashboard-name-form" class="form-inline" style="display: none">
    <input value="{{name}}" id="dashboard-name-input" type="text" class="input-xlarge focused" autocomplete="off">
  </form>
{{/with}}
