<a href="#" data-navigation-url="/dashboards/new" class="btn">Create Dashboard</a>

<table class="table table-striped" style="font-size: 13px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Modified</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {{#each dashboards}}
      <tr>
        <td><a href="#" data-navigation-url="/dashboards/{{id}}">{{name}}</a></td>
        <td>{{dateFormat updated_at}}</td>
        <td>{{dateFormat created_at}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
