<div class="btn-toolbar">
  <div class="btn-group">
      <h2 style="display:inline">Dashboards</h2>
  </div>
  <div class="btn-group pull-right">
    <button href="#" class="btn btn-success dashboard-create">Create Dashboard</button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Modified</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {{#each dashboards}}
      <tr>
        <td><a href="/dashboards/{{id}}">{{name}}</a> {{#if locked}}<i title="Dashboard is locked" class="icon-lock icon-white"></i>{{/if}}</td>
        <td>{{dateFormat updated_at}}</td>
        <td>{{dateFormat created_at}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
