<ng-include src="'<%= asset_path('templates/dashboards/toolbar.html') %>'"></ng-include>

<gridster>
  <ul>
    <li class="widget" ng-repeat="widget in widgets" widget>
      <div data-id="{{widget.id}}" class="widget-header">

        <span class="title">{{widget.name}} <img ng-show="widget.enableSpinner" class="ajax-spinner" width="12" height="12" src="<%= asset_path('spinner2.gif') %>"></img></span>

        <span class="action" ng-click="removeWidget(widget)" ng-hide="minimalui">
          <span class="ui-icon"><i class="icon icon-remove icon-white"></i></span>
        </span>

        <span class="action" ng-click="editWidget(widget)" ng-hide="minimalui">
          <span class="ui-icon"><i class="icon-cog icon-white"></i></span>
        </span>

      </div>
      <div class="error-details" ng-show="showError">
        <p>Request Error: {{widget.message}}</p>
      </div>
      <div ng-hide="showError" class="widget-content">
      </div>
    </li>
  </ul>
</gridster>
</div>
