{{#with dashboard}}
  <h2 id="dashboard-name"><span data-inline-edit="true">{{name}}</span>
    <form class="form-inline" data-inline-edit="true" style="display: none">
      <input value="{{name}}" type="text" class="input-xlarge focused" autocomplete="off">
    </form>

    <div class="btn-toolbar pull-right" style="display:inline">
      <button class="btn btn-success add-instrument">Add Instrument</button>
      <button class="btn dashboard-delete" data-dashboard-id="{{id}}">
        <i class="icon-trash"></i>
      </button> 
    </div>
  </h2>
  
  </br>

  <div class="row-fluid">
    <div id="dashboard-widget-container" class="span12">

    </div>
  </div>
{{/with}}

<div id="instruments-chooser"></div>