{{#with dashboard}}
  
  <div class="btn-toolbar" style="margin-top: 0; margin-bottom: 0;">
    <div class="btn-group">
      <h2 id='dashboard-name' style="display:inline">{{name}}</h2>
      <form id='dashboard-editable' class="form-inline" data-inline-edit="true" style="display: none">
        <input value="{{name}}" type="text" class="input-xlarge focused" autocomplete="off">
      </form>
    </div>

    <div class="btn-group pull-right">
      <button class="btn btn-warning dashboard-delete" data-dashboard-id="{{id}}">
        <i class="icon-trash icon-white"></i>
      </button> 
    </div>

    <div class="btn-group pull-right">
      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        Add Widget
        <span class="caret"></span>
        <ul class="dropdown-menu">
          <li><a href="#" class="add-line-graph">Line Graph</a></li>
          <li><a href="#" class="add-counter">Counter</a></li>
        </ul>
      </button>
    </div>
  </div>
  
  <div id="dashboard-widget-container">
  
  </div>
{{/with}}

<div id="widget-dialog"></div>