{{#with dashboard}}
  <div id="dashboard-detail-header"></div>

  <div class="btn-toolbar">
    <button class="btn add-instrument">Add Instrument</button>
    <button class="btn dashboard-delete" data-dashboard-id="{{id}}">
      <i class="icon-trash"></i>
    </button> 
  </div>

  </br>

  <div class="row-fluid">
    <div id="dashboard-widget-container" class="span12">

    </div>
  </div>
{{/with}}

<div id="instruments-chooser"></div>