{{#with dashboard}}
  <h2 id="dashboard-name"><span data-inline-edit="true">{{name}}</span>
    <form class="form-inline" data-inline-edit="true" style="display: none">
      <input value="{{name}}" type="text" class="input-xlarge focused" autocomplete="off">
    </form>

    <div class="btn-toolbar pull-right" style="display:inline">
      <div class="btn-group">
        <button class="btn btn-success dropdown-toggle add-instrument" data-toggle="dropdown">
          Add Widget
          <span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a href="#" class="add-line-graph">Line Graph</a></li>
            <li><a href="#" class="add-counter">Counter</a></li>
          </ul>
        </button>
      </div>
      <div class="btn-group">
        <button class="btn btn-warning dashboard-delete" data-dashboard-id="{{id}}">
          <i class="icon-trash"></i>
        </button> 
      </div>
    </div>
  </h2>
  
  </br>

  <div id="dashboard-widget-container">
  
  </div>
{{/with}}

<div id="widget-dialog"></div>