{{#with dashboard}}
  <ul class="breadcrumb">
    <li>
      <a href="/dashboards">Dashboards</a> <span class="divider">/</span>
    </li>
    <li class="active">{{name}}</li>
  </ul>

  <button class="btn">Add Metric</button>
  <button class="btn">Fullscreen</button>

  <div class="row-fluid">
    <div id="widget-container" class="span12">

    </div>
  </div>

{{/with}}
