{{#with dashboard}}
  <h2 id="dashboard-name"><span data-inline-edit="true">{{name}}</span>
    <form class="form-inline" data-inline-edit="true" style="display: none">
      <input value="{{name}}" type="text" class="input-xlarge focused" autocomplete="off">
    </form>

    <div class="btn-toolbar pull-right" style="display:inline">
      <div class="btn-group data-time" data-toggle="buttons-radio">
        <button class="btn time" data-time="minute">Minute</button>
        <button class="btn time" data-time="hour">Hour</button>
        <button class="btn time" data-time="day">Day</button>
        <button class="btn time" data-time="week">Week</button>
      </div>

      <div class="btn-group">
        <button class="btn btn-success add-instrument">Add Instrument</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-warning dashboard-delete" data-dashboard-id="{{id}}">
          <i class="icon-trash"></i>
        </button> 
      </div>
    </div>
  </h2>
  
  </br>

  <div id="dashboard-widget-container">
    <!--
    <div id="widget-span-3" class="portlet well well-small">
      <div class="portlet-header">Links 1</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div id="widget-span-1" class="portlet well well-small">
      <div class="portlet-header">Links 2</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div id="widget-span-2" class="portlet well well-small">
      <div class="portlet-header">Links 3</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div id="widget-span-1" class="portlet well well-small">
      <div class="portlet-header">Links 4</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div id="widget-span-2" class="portlet well well-small">
      <div class="portlet-header">Links 5</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div id="widget-span-1" class="portlet well well-small">
      <div class="portlet-header">Links 6</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div id="widget-span-1" class="portlet well well-small">
      <div class="portlet-header">Links 7</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div id="widget-span-1" class="portlet well well-small">
      <div class="portlet-header">Links 8</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    <div id="widget-span-1" class="portlet well well-small">
      <div class="portlet-header">Links 9</div>
      <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
    </div>
    -->
  </div>
{{/with}}

<div id="instruments-chooser"></div>