<div class="btn-toolbar" >
  <div class="btn-group">
    <h2 {{#unless model.locked}}contenteditable{{/unless}} title="Click to edit title" id='heading' style="display:inline">{{model.name}}</h2>
  </div>

  <div class="btn-group pull-right">
    <button class="btn btn-warning dashboard-delete" data-dashboard-id="{{id}}" {{#if model.locked}}disabled{{/if}}>
      <i class="icon-trash icon-white"></i>
    </button>
  </div>

  <div class="btn-group pull-right">

    <div class="btn-group">
      <a class="btn btn-success dropdown-toggle {{#if model.locked}}disabled{{/if}}" data-toggle="dropdown" href="#" {{#if model.locked}}disabled{{/if}}>
        Add Widget...
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu add-actions">
        <li><a href="#" class="add-graph" data-widget-kind="graph">Graph</a></li>
        <li><a href="#" class="add-counter" data-widget-kind="counter">Counter</a></li>
        <li><a href="#" class="add-ci" data-widget-kind="ci">CI</a></li>
        <li><a href="#" class="add-number" data-widget-kind="number">Number</a></li>
        <li><a href="#" class="add-boolean" data-widget-kind="boolean">Boolean</a></li>
      </ul>
    </div>

  </div>

  <div class="btn-group pull-right">
    <button class="btn btn-primary dashboard-toggle-lock {{#if model.locked}}active{{/if}}" data-dashboard-id="{{id}}">
      {{#if model.locked}}
        <i class="icon-lock icon-white"></i> Unlock
      {{else}}
        <i class="icon-lock icon-white"></i> Lock
      {{/if}}
    </button>
  </div>
</div>
