{{#with instrument}}
  <h3>{{name}} 
    <div class="btn-toolbar" style="display:inline">
      <button class="btn btn-primary btn-mini widget-edit" data-widget-id="{{id}}" style="margin-top:-2px; display:none;">
        <i class="icon-edit"></i>
      </button>

      <button class="btn btn-warning btn-mini widget-delete" data-widget-id="{{id}}" style="margin-top:-2px">
        <i class="icon-trash"></i>
      </button> 

    </div>
    
  </h3>
  </br>
  <div class="graph-container"></div>
  </br></br>
{{/with}}

<div id="widget-edit-dialog"></div>