<div class="ci-value"></div>
<div class="label-container-two-rows">
  <div class="label" title="{{label}}">{{label}}</div>
  <div class="secondary-label" title="{{currentStatus}}">({{currentStatus}})</div>
</div>