{{#with widget}}
<div class="portlet-header ui-widget-header ui-corner-all">
  <span>{{name}} <img class="ajax-spinner" src="<%= image_path('spinner.gif') %>"></img></span>
  <span class='widget-delete ui-icon ui-icon-minusthick icon-white' data-widget-id="{{id}}"><i class='icon-remove'></i></span>
  <span class='widget-edit ui-icon ui-icon-minusthick icon-white' data-widget-id="{{id}}"><i class='icon-cog'></i></span>
  <span class='widget-collapse ui-icon ui-icon-minusthick icon-white' data-widget-id="{{id}}"><i class='icon-minus'></i></span>
</div>
<div class="portlet-content">
  <div class="graph-container"></div>
</div>
{{/with}}