.status_table-widget {
  
  .status_table-overall_value {
    float: left;
    width: 70px;
    height: 60px;
    margin-top: 10px;
    margin-right: 20px;

    font-size: 22px;
    line-height: 60px;

    font-weight: bolder;
    text-shadow: 1px 1px 1px #330, -1px -1px 1px #330;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .status_table-overall_label {
    float: left;
    height: 60px;
    margin-top: 10px;
    margin-right: 20px;

    font-size: 22px;
    line-height: 60px;

    font-weight: bolder;
    text-shadow: 1px 1px 1px #330, -1px -1px 1px #330;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .status_table-value {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 20px;
  }

  .file_label {
  
    position: relative;
    margin-top: 10px;
    float: left;
    width: 95%;
    height: 75%;

    font-size: 16px;
    line-height: 18px;

    font-weight: bolder;
    text-shadow: 1px 1px 1px #330, -1px -1px 1px #330;

    background: 0;
    color: #ccc;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .red {
    background: #D26771;
    border: 2px solid darken(#D26771, 8%);
  }

  .green {
    background: #8ec15c;
    border: 2px solid darken(#8ec15a, 10%);
  }

  .blue {
    background: #447ab2;
    border: 2px solid darken(#2f547b, 10%);
  }

  .orange {
    background: #f89406;
    border: 2px solid darken(#c67605, 10%);
  }

}
