<% title 'Twitter Bootstrap on Rails' %>

<p>This Rails 3.1 app aims to demonstrate how simple it can be to integrate <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> with Rails.</p>

<p>So far, the project uses the following resources:</p>

<ul>
  <li><a href="https://github.com/plataformatec/simple_form">simple_form</a></li>
  <li><a href="https://github.com/plataformatec/show_for">show_for</a></li>
  <li><a href="https://github.com/gabetax/twitter-bootstrap-kaminari-views">twitter-bootstrap-kaminari-views</a></li>
  <li><a href="https://github.com/metaskills/less-rails-bootstrap">less-bootstrap-rails</a></li>
</ul>