{{#with metric}}
  <div class="row-fluid">
    <div class="span12">
      <div style="margin-bottom:2em" class="row-fluid">
        <div class="span6">
          <h3>Minutes</h3></br>
          <div id="graph-container-minute"></div>
        </div>
        <div class="span6">
          <h3>Hourly</h3></br>
          <div id="graph-container-hour"></div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <h3>Day</h3></br>
          <div id="graph-container-day"></div>
        </div>
        <div class="span6">
          <h3>Week</h3></br>
          <div id="graph-container-week"></div>
        </div>
      </div>
    </div>
  </div>

{{/with}}
