{{#with metric}}
  <div class="btn-toolbar">
    <div class="btn-group">
        <h2 style="display:inline">Dashboards</h2>
    </div>
    <div class="btn-group data-time pull-right">
      <button class="btn time" data-time="minute">Minute</button>
      <button class="btn time" data-time="hour">Hour</button>
      <button class="btn time" data-time="day">Day</button>
      <button class="btn time" data-time="week">Week</button>
    </div>
  </div>

  </br>

  <div class="row-fluid">
    <div id="graph-container" class="span12">
  </div>
  
{{/with}}


