{{#with metric}}
  <div class="btn-toolbar">
    <div class="btn-group">
        <h2 style="display:inline">Dashboards</h2>
    </div>
    <div class="btn-group pull-right">
      <div class="btn-group">
        <a class="btn btn-success date-range-picker" data-range="30-minutes" href="#">Last 30 minutes</a>
        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" class="date-range-picker" data-range="30-minutes">Last 30 minutes</a></li>
          <li><a href="#" class="date-range-picker" data-range="60-minutes">Last 60 minutes</a></li>
          <li><a href="#" class="date-range-picker" data-range="3-hours">Last 3 hours</a></li>
          <li><a href="#" class="date-range-picker" data-range="12-hours">Last 12 hours</a></li>
          <li><a href="#" class="date-range-picker" data-range="24-hours">Last 24 hours</a></li>
          <li><a href="#" class="date-range-picker" data-range="3-days">Last 3 days</a></li>
          <li><a href="#" class="date-range-picker" data-range="7-days">Last 7 days</a></li>
          <li><a href="#" class="date-range-picker" data-range="4-weeks">Last 4 weeks</a></li>
        </ul>
      </div>
    </div>

  </div>

  </br>

  <div class="row-fluid">
    <div id="graph-container" class="span12">
  </div>

{{/with}}


