{{#with metric}}
  <div class="row-fluid">
    <div class="span12">
      <h3>{{time}}</h3>
      <div class="btn-toolbar">
        <div class="btn-group data-time">
          <button class="btn time" data-time="minute">Minute</button>
          <button class="btn time" data-time="hour">Hour</button>
          <button class="btn time" data-time="day">Day</button>
          <button class="btn time" data-time="week">Week</button>
        </div>
      </div>
      </br>
      <div id="graph-container"></div>
    </div>
  </div>

{{/with}}
