{{#with metric}}
  <div class="row-fluid">
    <div class="span12">
      <h2>Metric: {{name}}
        <div class="btn-toolbar pull-right" style="display:inline">
          <div class="btn-group data-time">
            <button class="btn time" data-time="minute">Minute</button>
            <button class="btn time" data-time="hour">Hour</button>
            <button class="btn time" data-time="day">Day</button>
            <button class="btn time" data-time="week">Week</button>
          </div>
        </div>
      </h2>
      
      </br>
    </div>
  </div>
  <div class="row-fluid">
    <div id="graph-container" class="span12"></div>
  </div>
{{/with}}


