<div class="alert alert-error alert-block">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading">An error occured</h4>
  {{response.statusText}} (HTTP Status Code: {{response.status}})
</div>
