<h2>About SimpleMetrics</h2>
</br>
<p>Standing on the shoulders of giants:</p>

<ul>
  <li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
  <li><a href="http://twitter.github.com/bootstrap/index.html">Twitter Bootstrap</a></li>
  <li><a href="http://bootswatch.com/cyborg/">Using Cyborg Twitter Bootstrap Theme</a></li>
  <li><a href="http://d3js.org/">d3.js</a> graphing library and <a href="http://bits.shutterstock.com/?p=103">rickshaw.js</a> for time-series graphs</li>
</ul>

<p>SimpleMetrics started as an idea from a <a href="http://www.xing.com">XING AG</a> sponsored innovation week project.</p>