<div class="btn-toolbar">
  <div class="btn-group">
    <h2>About Team Dashboard</h2>
  </div>
</div>

<p>Team Dashboard lets you visualize your team's metrics all in one place.</p>

<h3>Help</h3>
<p>You can find the most up-to-date information on <a href="https://github.com/fdietz/team_dashboard">github</a>.
</p>

<h3>Open Source</h3>
<p>Team Dashboard was built using lots of open-source libraries including:</p>

<ul>
  <li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
  <li><a href="http://twitter.github.com/bootstrap/index.html">Twitter Bootstrap</a></li>
  <li><a href="http://bootswatch.com/cyborg/">Cyborg Twitter Bootstrap Theme</a></li>
  <li><a href="http://backbonejs.org">backbone.js</a></li>
  <li><a href="http://github.com/powmedia/backbone-forms">backbone-forms</a></li>
  <li><a href="http://bootboxjs.com/">bootbox.js</a></li>
  <li><a href="http://momentjs.com/">moment.js</a></li>
  <li><a href="http://ivaynberg.github.com/select2/">select2</a></li>
  <li><a href="http://documentcloud.github.com/underscore/">underscore.js</a></li>
  <li><a href="http://d3js.org/">d3.js</a></li>
  <li><a href="http://bits.shutterstock.com/?p=103">rickshaw.js</a></li>
</ul>

<p>Team Dashboard started as an idea from a <a href="http://www.xing.com">XING AG</a> sponsored innovation week project.</p>

<p>Copyright 2012 Frederik Dietz <a href="mailto:fdietz@gmail.com">fdietz@gmail.com</a></p>