{{#with instrument}}
  <h1 id="instrument-name">{{name}}</h1>
  <form id="instrument-name-form" class="form-inline" style="display: none">
    <input value="{{name}}" id="instrument-name-input" type="text" class="input-xlarge focused" autocomplete="off">
  </form>
{{/with}}
