{{#with instrument}}
  <h1 data-inline-edit="true">{{name}}</h1>
  <form data-inline-edit="true" class="form-inline" style="display: none">
    <input value="{{name}}" type="text" class="input-xlarge focused" autocomplete="off">
  </form>
{{/with}}
