{{#with instrument}}
  <div class="row-fluid">
    <div class="span12">
      <div id="instrument-detail-header"></div>

      <div class="btn-toolbar">
        <button class="btn add-metric">Add Metric</button>
        <button class="btn instrument-delete" data-instrument-id="{{id}}">
          <i class="icon-trash"></i>
        </button>
      </div>

      </br>
      
      <div id="instrument-graph-container"></div>
      <div id="instrument-table-container"></div>
    </div>
  </div>
{{/with}}

<div id="metrics-chooser"></div>