{{#with instrument}}
  <div class="row-fluid">
    <div class="span12">
      <h2><span data-inline-edit="true">{{name}}</span>
        <form data-inline-edit="true" class="form-inline" style="display:none">
          <input value="{{name}}" type="text" class="input-xlarge focused" autocomplete="off">
        </form>

        <div class="btn-toolbar pull-right" style="display:inline">
          <div class="btn-group data-time" data-toggle="buttons-radio">
            <button class="btn time" data-time="minute">Minute</button>
            <button class="btn time" data-time="hour">Hour</button>
            <button class="btn time" data-time="day">Day</button>
            <button class="btn time" data-time="week">Week</button>
          </div>

          <div class="btn-group">
            <button class="btn toggle-renderer" data-toggle="button"><i class="icon-signal"></i></button>
          </div> 
            
          <div class="btn-group">
            <button class="btn btn-success add-metric">Add Metric</button>
          </div> 

          <div class="btn-group">
            <button class="btn btn-warning instrument-delete" data-instrument-id="{{id}}"><i class="icon-trash"></i></button>
          </div> 
        </div>
      </h2>

      </br>
      
      <div id="instrument-graph-container"></div>
      <div id="instrument-table-container"></div>
    </div>
  </div>
{{/with}}

<div id="metrics-chooser"></div>