{{#with instrument}}
  <table class="table table-striped" style="font-size: 13px">
    <thead>
      <tr>
        <th>Name</th>
        <th>Grouping</th>
        <th>Color</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {{#each metrics}}
        <tr>
          <td>{{name}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/with}}