<div class="modal" id="dashboard-details-modal">
  <div class="modal-header">
    <h3>Line Graph</h3>
  </div>
  <div class="modal-body">
      <form id="graph" class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
              <input id="title" name="graph[name]" class="name" type="text" tabIndex>
            </div>
          </div>


           <div class="control-group">
            <label class="control-label">Size</label>
            <div class="controls">
              <select name="graph[size]" class="size">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Date Time Range</label>
            <div class="controls">
              <select name="graph[range]" class="range">
                <option value="30-minutes">Last 30 minutes</option>
                <option value="60-minutes">Last 60 minutes</option>
                <option value="3-hours">Last 3 hours</option>
                <option value="12-hours">Last 12 hours</option>
                <option value="24-hours">Last 24 hours</option>
                <option value="3-days">Last 3 days</option>
                <option value="7-days">Last 7 days</option>
                <option value="4-weeks">Last 4 weeks</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Update Interval</label>
            <div class="controls">
              <select name="graph[update_interval]" class="update-interval">
                <option value="10">10 sec</option>
                <option value="600">1 min</option>
                <option value="6000">10 min</option>
                <option value="3600">1 hour</option>
              </select>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label">Data Source</label>
            <div class="controls">
              <select name="graph[source]" class="source">
                {{#each sources}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Targets</label>
            <div class="controls">
              <input name="graph[targets]" class="targets" size="16" type="text" style="width:300px">
              <p class="help-block">Comma separated metric names. Including wildcard support (example: test.system1, test.graph.*)</p>
            </div>

          </div>
         </fieldset>
      </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary">Save</a>
  </div>
</div>
