<div class='selectable-container'>
  <div class='input-append'>"
    <input class='selectable-input' type='text' size='16' placeholder='Enter target to add'></input>
    <button class='btn add' type='button'><i class='icon-plus icon-white'></i></button>
    <button class='btn browse' type='button'><i class='icon-search icon-white'></i></button>
  </div>
  <ul class='selectable-list input-large list'></ul>
</div>
<span class='help-block'>No targets specified. Press ENTER to add targets to list</span>
