/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require twitter/bootstrap
 *= require theme/index

 *= require select2
 *= require rickshaw.min
 *= jquery-ui-1.8.20.custom

 *= require graph

 *= require_self
*/


.scrollable {
  width: 530px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FFF;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    background: #CCC;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}

::-webkit-scrollbar-thumb:active {
    background: #888;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

.color {
  margin: 0px;
  padding: 2px 12px 2px 10px;
  border: 2px solid #444;
  width: 20px;
  height: 20px;
}


/* dashboard */

.portlet {
  height: 325px;
  margin: 0px 10px 10px 0px;
  float: left;
}

.portlet:first-child { margin-left: 0px !important; }

/* TODO: check why jquery sortable depends on id instead of class here */
#widget-span-1 { width: 320px; }
#widget-span-2 { width: 670px; }
#widget-span-3 { width: 1020px; }

.portlet-minimized { height: auto !important; }

.portlet-header {
  border-bottom: 1px solid #33B5E5;
  margin-bottom: 0.2em;
  padding-bottom: 0.4em;

  cursor: move;

  text-transform:uppercase;
}

.portlet-header .ui-icon {
  float: right;
  cursor: pointer;
  margin-left: 8px;
}

.portlet-content {
  padding: 0.4em;
  margin-top: 1em;
}

.portlet-minimized .portlet-content { display: none !important; }

.ui-sortable-placeholder {
  border: 2px dashed #FFF;
  visibility: visible !important;
  height: 325px !important;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}

.counter {
  margin-left: 10px;
  margin-top: 30px;
  padding-bottom: 15px;
  width: 300px;
  height: 100px;
  display:block;
}

.value {
  font-weight: bold;
  color: #eee;
  -webkit-text-stroke: 1px #330;
}

.value-size-large {
  font-size: 100px;
}
.value-size-medium {
  font-size: 80px;
}
.value-size-small {
  font-size: 60px;
}

.rate {
  margin-left: 10px;
  font-size: 40px;
  font-weight: bold;
}

.secondary-value-up {
  color: #8ec15c;
}

.secondary-value-down {
  color: #D26771;
}

.rate-container {
  margin-top: 50px;
  margin-left: 18px;
}

.percentage {
  font-size: 20px;
  font-weight: bold;
}

.arrow-up, .arrow-down {
  display: inline-block;
  margin-bottom: 5px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #8ec15c;
}

.arrow-down {
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #D26771;
}